.breadcrums {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 2rem;
    background-color: lightgray;
    font-size: 1.2rem;
}
.breadcrumb-separator.material-icons {
    vertical-align: text-top;
}
.breadcrums-container {
    width: 40%;
}
.search-container {
    width: 60%;
}
// Search
.search-box {
    padding: 10px 12px 10px 34px;
    width: 400px;
    max-width: 100%;
    font-size: 14px;
    border-radius: 15px;
    border: none;
    outline: none;
}
