@import url(https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Roboto&display=swap);/* General Styles for all page */

/* Google Fonts */

/*
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
}

header {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.top-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  height: 20%;
  width: 100%;
  padding: 2rem;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.logo {
  text-align: left;
  display: flex;
  width: 20%;
  margin: 0;
}

.logo-image {
  width: 250px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu-container,
.nav-menu-right {
  width: 40%;
}

.menu-container li,
.nav-menu-right li {
  margin-right: 35px;
}

.menu-container li:last-child,
.nav-menu-right li:last-child {
  margin-right: 0;
}

.menu-nav-links,
.nav-menu-right-items {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 10px;
}

li {
  list-style: none;
}

li img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.menu-nav-links-item-link,
.nav-menu-right-item-link {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.menu-nav-links-item-link:hover {
  color: #ff0000;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 42px;
  color: #fff;
}

h2 {
  font-family: "Open Sans", sans-serif;
}

span {
  color: #ff0000;
  text-transform: uppercase;
}

.cart-button-top {
  display: inline-block;
  text-decoration: none;
  border: 3px solid #ff0000;
  color: #ff0000;
  border-radius: 20px;
  text-align: center;
  margin-right: 40px;
  padding: 1rem;
  width: auto;
  height: 70px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-count {
  color: #ff0000;
  font-size: 1.4rem;
  font-weight: bold;
}

.cart-button-top span .material-icons {
  font-size: 45px;
}

.account-button-top {
  border: 3px solid #ff0000;
  background-color: none;
  display: inline-flex;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  width: 140px;
  height: 70px;
  margin-right: 40px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.account-button-top {
  width: 235px;
}

.account-button-top span {
  font-size: 45px;
  padding: 0.2rem;
  vertical-align: middle;
}

.account-button-top:hover {
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
}

.account-button-top a {
  color: #ff0000;
  font-weight: bold;
  font-size: 1.4rem;
}

/* Account Dropdown Menu Button */

.dropbtn {
  border: none;
  background-color: none;
  font-size: 1.3rem;
  color: #ff0000;
  outline: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  outline: none;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff0000;
  color: #fff;
}

.hero-container {
  width: 100%;
  min-height: 1366px;
  text-align: center;
  padding: 1rem;
  background-image: url(/images/head.jpg?e0f074d026a27e6839e41fb4ad6fb81b);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
   on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
   while the background image is loading */
  background-color: #464646;
}

.hero-heading {
  width: 80%;
  margin: 1rem 10% 1rem 10%;
  text-align: center;
}

h1 {
  letter-spacing: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.featured-section {
  text-align: center;
  width: 80%;
  margin: 1rem 10%;
  padding: 1rem;
}

.featured-section-head {
  width: 100%;
  padding: 20px;
}

.feauture-section-line {
  width: 40%;
  margin: 1rem 30%;
  border: 2px solid #ff0000;
  border-radius: 20px;
}

.home-featured-products-container {
  margin: 2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 80px;
}

.home-product-container {
  background: #ffffff;
  border: 3px solid #9c9c9c;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 1rem;
}

.product-image .main-image {
  width: 150px;
  height: 150px;
}

.product-price p {
  font-size: 1rem;
}

.product-name {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-shadow: none;
  font-weight: normal;
}

.view-products-button-container {
  width: 80%;
  margin: 1rem 10%;
  padding: 30px;
  justify-content: center;
}

.view-products-button {
  width: 100%;
  text-align: center;
}

.view-product-link {
  width: 450px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid #ff0000;
  color: #ff0000;
  text-shadow: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
}

.view-product-link:hover {
  background-color: #ff0000;
  color: #fff;
}

footer {
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 140px;
  background-color: #ff0000;
  color: #f1f1f1;
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
}

footer li {
  margin: 1.5rem;
}

footer li a {
  text-decoration: none;
  color: #f1f1f1;
  text-transform: uppercase;
  cursor: pointer;
}

footer li a:hover {
  color: #333333;
}

.spacer {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1220px) {
  .home-featured-products-container {
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px 40px;
  }
}

@media only screen and (max-width: 1000px) {
  .menu-nav-links,
  .nav-menu-right-items {
    justify-content: center;
    margin: 1rem;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-container {
    background-attachment: scroll;
  }
}

.shop-container {
  display: flex;
  flex-direction: row;
  min-height: 1200px;
  overflow: hidden;
}

aside {
  margin: 1rem;
  width: 20%;
}

.category-header {
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.categories-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 2rem;
}

.shop-container aside ul li.active {
  font-weight: 800;
}

.category-menu {
  display: none;
}

.categories-menu-item-link {
  color: #333;
  text-shadow: none;
  letter-spacing: 2px;
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 20px 5px;
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
}

.categories-menu-item-link:hover {
  color: #ff0000;
}

.category-icon {
  max-width: 50px;
  max-height: 50px;
}

.category-product-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-bottom: 2rem;
  justify-content: center;
}

.category-product-heading-container {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding: 1rem 5%;
}

.category-products-heading {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 4px;
  text-align: left;
}

.category-heading-line {
  border: 2px solid #ff0000;
}

.category-products-container {
  height: 90%;
  margin: 2rem;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
}

.category-products-heading {
  text-align: center;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  text-align: center;
  background: #ffffff;
  border: 3px solid #9c9c9c;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  max-height: 400px;
}

.product-name {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-shadow: none;
  font-weight: normal;
}

.shop-product-image-container {
  width: 100%;
  padding: 30px;
  height: 250px;
  text-align: center;
}

.shop-main-image {
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align: center;
}

.pagination-container {
  text-align: center;
  width: 100%;
}

.pagination {
  width: 50%;
  margin: 1rem 25%;
}

@media only screen and (max-width: 1300px) {
  .category-icon {
    display: block;
  }
}

.product-view-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 900px;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

.product-image-container,
.product-information-container {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-main-image {
  width: 500px;
  height: 500px;
  margin: 1rem 10%;
  align-items: center;
  border: 1px solid #979797;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
}

.product-main-image .main-image.active {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.product-main-image .main-image.active {
  opacity: 1;
}

.main-image {
  height: 80%;
  width: 80%;
  margin: 0;
}

.product-images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 20px;
  width: 80%;
  margin: 20px 10% 0 10%;
}

.thumbnail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  min-height: 66px;
  cursor: pointer;
}

.thumbnail-container:hover {
  border: 1px solid #979797;
}

.thumbnail-image {
  max-width: 150px;
  max-height: 150px;
}

.product-information-container {
  justify-content: space-evenly;
  text-align: left;
  font-size: 1.2rem;
}

.product-title {
  font-size: 1.9rem;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
}

.product-details {
  color: gray;
}

.product-status-container {
  color: green;
  border-radius: 15px;
  text-align: left;
}

.product-price {
  font-weight: bold;
  font-size: 1.4rem;
}

.add-to-cart-button {
  outline: none;
  background-color: #ff0000;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  border-radius: 15px;
  padding: 1rem;
}

.add-to-cart-button:hover {
  cursor: pointer;
  color: gray;
  font-weight: bold;
}

.cart-section {
  min-height: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cart-heading {
  font-size: 34px;
  letter-spacing: 4px;
  font-family: "Roboto", sans-serif;
}

.cart-heading-line {
  width: 50%;
  margin: 0 25%;
  border: 2px solid #ff0000;
  border-radius: 25px;
}

.cart-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 26px;
  font-family: "Open Sans", sans-serif;
}

.cart-table-container {
  padding: 1rem;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 1.2rem 15%;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cart-row-left,
.cart-row-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-row-left {
  width: 50%;
  margin: 0;
  text-align: left;
}

.cart-row-right {
  width: 50%;
  margin: 0;
  padding: 1rem;
  text-align: left;
}

.cart-image-container {
  width: 50%;
}

.cart-img {
  width: 80px;
  height: 80px;
}

.cart-item-details-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-actions {
  display: flex;
  flex-direction: row;
}

.cart-actions button {
  font-size: 14px;
}

.cart-actions button .material-icons {
  vertical-align: middle;
}

.cart-actions button:hover {
  color: #ff0000;
}

.cart-wishlist,
.cart-remove {
  background: none;
  outline: none;
  border: none;
  color: #333;
}

.cart-wishlist.material-icons,
.cart-remove.material-icons {
  font-size: 32px;
}

.cart-wishlist:hover,
.cart-remove:hover {
  cursor: pointer;
}

.cart-quantity-container {
  width: 35%;
}

.quantity {
  width: 40px;
  font-size: 1rem;
  outline: none;
  border: none;
}

.cart-price {
  width: 35%;
  text-align: right;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #ff0000;
  font-weight: bold;
}

.span-cart-breadcrum {
  text-transform: none;
}

.cart-remove {
  outline: none;
  background-color: transparent;
}

.cart-remove.material-icons {
  color: #ff0000;
}

.cart-voucher {
  padding: 2rem;
}

.cart-total-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  width: 70%;
  margin: 0 15%;
  background-color: #f0f0f0;
  margin-top: 1rem;
  border-radius: 15px;
}

.cart-total-row-left {
  width: 50%;
  padding: 1rem;
  font-size: 1.3rem;
}

.cart-total-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
}

.subtotal-container,
.tax-container,
.total-container,
.voucher-container,
.voucher-remove-container,
.new-subtotal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  width: 50%;
  margin: 1rem 25%;
  font-size: 1.3rem;
}

.subtotal,
.tax,
.total {
  text-align: left;
}

.cart-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: 2rem 15%;
  text-align: center;
}

.continue-shopping-button,
.checkout-button {
  display: block;
  border: 2px solid #ff0000;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #ff0000;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 70px;
  padding: 1rem;
  border-radius: 15px;
}

.continue-shopping-button-removed {
  border: 2px solid #ff0000;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: #ff0000;
  text-transform: uppercase;
  text-align: center;
  width: 300px;
  height: 70px;
  padding: 1rem;
}

.continue-shopping-button-removed:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.continue-shopping-button:hover,
.checkout-button:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.continue-shopping-button {
  width: 320px;
}

.checkout-button .material-icons,
.continue-shopping-button .material-icons,
.continue-shopping-button-removed .material-icons {
  color: #fff;
  font-size: 32px;
  vertical-align: middle;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.empty-cart-header-container,
.empty-cart-button-container {
  margin: 15px 0 25px 0;
}

.empty-cart-header {
  font-size: 24px;
}

.empty-wishlist-container {
  padding: 2rem;
  margin-top: 50px;
}

.wishlist-empty-heading {
  color: gray;
}

.wishlist-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
  width: 70%;
  margin: 2rem 15%;
  background-color: #fff;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.wishlist-product-image {
  width: 80px;
  height: 80px;
}

.wishlist-item-actions {
  text-align: left;
}

.wishlist-action-button {
  background: none;
  outline: none;
  border: none;
  color: #333;
}

.wishlist-action-button:hover {
  cursor: pointer;
  color: #ff0000;
}

.wishlist-action-button .material-icons {
  vertical-align: middle;
}

.checkout-wrapper {
  width: 80%;
  margin: 1rem 10%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
}

.checkout-section {
  display: flex;
  flex-direction: row;
  min-height: 800px;
  text-align: center;
  width: 100%;
}

.checkout-form-section,
.checkout-order-section {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  width: 50%;
  padding: 1rem;
}

.checkout-form-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  text-align: left;
}

.checkout-form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0;
}

.checkout-half-form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
}

.checkout-form-group-half {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.checkout-form-input {
  margin-top: 10px;
  padding: 16px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #ccc;
}

.checkout-half-form-input {
  margin-top: 10px;
  padding: 16px 10px;
  border-radius: 5px;
  font-size: 14px;
  border: 2px solid #ccc;
}

.checkout-form-button-container {
  margin: 20px 0;
}

.checkout-form-button {
  width: 50%;
  padding: 16px 45px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  background-color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}

.checkout-form-button:hover {
  cursor: pointer;
}

.checkout-form-button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.payment-details-container {
  margin: 40px 0;
}

.stripe-container {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.stripe-label {
  margin-bottom: 10px;
}

.StripeElement {
  background-color: white;
  padding: 1rem;
  margin: 1 0;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#card-errors {
  color: #fa755a;
}

.checkout-order-row {
  display: flex;
  flex-direction: row;
  margin: 2rem 0;
  justify-content: space-between;
  padding: 2rem;
  font-size: 16px;
}

.checkout-order-price-row {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  justify-content: space-between;
  padding: 2rem;
  font-size: 18px;
}

.checkout-order-line {
  border: 1px solid #ff0000;
  width: 100%;
  border-radius: 20px;
}

.checkout-order-product-image {
  width: 80px;
  height: 80px;
}

.checkout-order-product-details-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-order-product-details {
  color: #919191;
}

.checkout-product-quantity {
  border: 1px solid #919191;
  padding: 5px 14px;
  margin-right: 5px;
}

.checkout-order-subotal-container,
.voucher-container,
.new-subtotal-container,
.checkout-order-tax-container,
.checkout-order-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.voucher-container {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.voucher-value {
  text-align: left;
}

.new-subtotal-container {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.thank-you-section {
  text-align: center;
  min-height: 800px;
  margin: 2rem;
  padding: 1rem;
}

.thankyou-header {
  color: #333333;
  text-shadow: none;
}

.thankyou-text {
  font-size: 1.5rem;
}

.thankyou-home-button-container {
  width: 60%;
  margin: 4rem 20%;
}

.thankyou-home-button {
  background-color: #ff0000;
  border-radius: 15px;
  color: #fff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.thankyou-home-button:hover {
  color: #fff;
}

.my-profile-container {
  min-height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-top: 30px;
}

.my-profile-nav {
  width: 20%;
}

.my-profile-menu {
  display: block;
}

.active {
  text-align: left;
  margin: 2rem 0;
  padding: 1rem;
}

.my-orders-menu-item-link {
  font-size: 18px;
}

.my-profile-section {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
}

.my-profile-heading-line {
  border: 1px solid #ff0000;
  width: 80%;
  margin: 0 20% 0 0;
  border-radius: 20px;
}

.my-profile-form-container {
  margin-top: 20px;
}

.my-profile-form-container form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
}

.form-row {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.form-row input {
  border: 1px solid slategray;
  padding: 16px 10px;
  border-radius: 5px;
  width: 66.6%;
  font-size: 14px;
  margin-top: 10px;
}

.my-profile-button {
  width: 20%;
  padding: 16px 45px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  background-color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}

.my-profile-button:hover {
  cursor: pointer;
}

.my-orders-section {
  min-height: 800px;
  display: flex;
  flex-direction: row;
}

.my-orders-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.my-orders-heading-line {
  border: 1px solid #ff0000;
  width: 60%;
  margin: 0 20% 0 0;
  border-radius: 20px;
}

.my-order-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #dddddd;
  width: 60%;
  margin: 4rem 40% 4rem 0;
}

.my-order-details-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #f6f6f6;
  border: 1px solid #dddddd;
}

.my-order-details-heading-left,
.my-order-details-heading-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.my-order-details-heading-left {
  width: 60%;
}

.my-order-details-heading-right {
  width: 40%;
}

.my-order-details-col {
  display: flex;
  flex-direction: column;
}

.my-order-details-body {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-evenly;
  text-align: left;
}

.product-order-image {
  width: 150px;
  height: 150xp;
}

.my-order-details-body-product-details {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.login-container {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.login-container-left,
.login-container-right {
  width: 50%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.login-form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.login-form-row input {
  margin-top: 10px;
  padding: 16px 10px;
  border-radius: 5px;
  width: 70%;
  font-size: 14px;
}

.login-form-bottom-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.login-button {
  width: 50%;
  padding: 16px 45px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  background-color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}

.login-button:hover {
  cursor: pointer;
}

.remember-me-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 0 0 50px;
  font-size: 16px;
}

.login-right-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.login-button-outlined {
  width: 40%;
  padding: 16px 35px;
  text-transform: uppercase;
  color: #ff0000;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  text-align: center;
}

.login-button-outlined:hover {
  background-color: #ff0000;
  color: #fff;
}

.register-container {
  min-height: 800px;
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

.register-container-left,
.register-container-right {
  width: 50%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.register-form-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.register-form-row input {
  margin-top: 10px;
  padding: 16px 10px;
  border-radius: 5px;
  width: 80%;
  font-size: 14px;
}

.register-form-row-bottom {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}

.register-button {
  width: 40%;
  padding: 16px 45px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  background-color: #ff0000;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: none;
  border-radius: 10px;
}

.register-button:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
}

.remember-me-container {
  width: 50%;
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 0 0 0 50px;
  font-size: 16px;
}

.login-right-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem 0;
}

.login-button-outlined {
  width: 40%;
  padding: 16px 35px;
  text-transform: uppercase;
  color: #ff0000;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 2px;
  border: 2px solid #ff0000;
  border-radius: 10px;
  text-align: center;
}

.login-button-outlined:hover {
  background-color: #ff0000;
  color: #fff;
}

.search-container {
  min-height: 800px;
  margin: 4rem;
}

.search-results-heading {
  font-size: 24px;
}

.search-results-container {
  width: 70%;
  margin: 2rem 15% 2rem 0;
  text-align: left;
}

.search-results-table {
  width: 70%;
  margin: 2rem 15% 1rem 0;
  text-align: center;
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

.search-results-table thead {
  background-color: darkgray;
}

th {
  padding: 1rem;
}

tr {
  border-bottom: 1px solid #dee2e6;
  padding: 1rem;
}

.about-section {
  min-height: 800px;
  text-align: center;
  margin: 1rem;
}

.about-heading {
  color: #000000;
}

.about-heading-line {
  width: 50%;
  margin: 0 25%;
  border: 2px solid #ff0000;
}

.about-body-container {
  margin: 4rem 0 2rem 0;
  padding: 1rem;
}

.about-content {
  font-size: 18px;
}

.about-content span a {
  color: #4fabed;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.dummy-text-about-us {
  margin-top: 3rem;
}

.breadcrums {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 2rem;
  background-color: lightgray;
  font-size: 1.2rem;
}

.breadcrumb-separator.material-icons {
  vertical-align: text-top;
}

.breadcrums-container {
  width: 40%;
}

.search-container {
  width: 60%;
}

.search-box {
  padding: 10px 12px 10px 34px;
  width: 400px;
  max-width: 100%;
  font-size: 14px;
  border-radius: 15px;
  border: none;
  outline: none;
}

.might-like-secton {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.might-like-header {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.might-like-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
  width: 80%;
  margin: 1rem 10%;
  padding: 2rem;
}

.might-like-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 270px;
  height: 350px;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  border: 3px solid #979797;
}

.might-like-product-image {
  max-width: 230px;
  max-height: 160px;
}

.pagination-container {
  text-align: center;
}

.pagination-container nav {
  overflow: hidden;
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #dddddd;
  color: inherit;
  cursor: default;
  z-index: 2;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 16px 22px;
  position: relative;
  text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-primary {
  color: #fff;
  background-color: #007bff;
}

.badge-secondary {
  color: #fff;
  background-color: #6c757d;
}

.badge-success {
  color: #fff;
  background-color: #28a745;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.badge-warning {
  color: #212529;
  background-color: #ffc107;
}

.badge-info {
  color: #fff;
  background-color: #17a2b8;
}

.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}

.badge-dark {
  color: #fff;
  background-color: #343a40;
}

.alert-message-container,
.error-message {
  margin: 2rem;
  color: #ff0000;
  border: 3px solid #ff0000;
  border-radius: 20px;
  width: 40%;
  margin: 3rem 30%;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
}

.menu-container {
  width: 40%;
  margin: 0 0 0 10%;
}

.categories-menu {
  margin: 0;
  padding: 0;
}

.pagination-container {
  width: 100%;
  text-align: left;
  margin: 2rem;
}

@media only screen and (max-width: 1500px) {
  .cart-item-container {
    justify-content: space-evenly;
  }

  .cart-image-container {
    width: 30%;
  }

  .cart-item-details-col {
    width: 60%;
  }

  .cart-quantity-container {
    width: 20%;
  }

  .cart-price {
    text-align: center;
    width: 40%;
  }
}

@media only screen and (max-width: 1219px) {
  .shop-container {
    flex-direction: column;
    justify-content: center;
  }

  .category-product-section,
  .category-nav {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .category-nav {
    justify-content: center;
    /* margin: 1rem; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    width: 90%;
    margin: 1rem 5%;
    text-align: center;
    overflow: hidden;
  }

  .categories-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories-menu li {
    text-align: center;
    margin-right: 5px;
  }

  .categories-menu li a {
    padding: 20px 6px;
  }

  .category-products-container {
    grid-template-columns: 1fr 1fr;
  }

  .pagination-container {
    width: 70%;
  }

  .category-product-heading-container {
    width: 100%;
    flex-direction: column;
    padding: 1rem 2%;
  }

  .product-view-container {
    flex-wrap: wrap;
  }

  .product-image-container,
  .product-information-container {
    width: 80%;
    height: 50%;
    margin: 1rem 10%;
  }

  .might-like-container {
    width: 100%;
    margin: 1rem 0;
  }

  .login-container {
    flex-direction: column;
    justify-content: center;
  }

  .login-container-left,
  .login-container-right {
    width: 100%;
  }

  .login-button-outlined {
    width: 70%;
  }

  .checkout-wrapper {
    width: 100%;
    margin: 1rem 0;
  }

  .checkout-section {
    display: flex;
    flex-direction: column;
  }

  .checkout-form-section,
  .checkout-order-section {
    display: flex;
    flex-direction: column;
    margin: 1rem 10%;
    width: 80%;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1115px) {
  .categories-menu {
    display: none;
  }

  .categories-menu.responsive {
    display: block;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: column;
  }

  .category-menu {
    display: block;
    width: 100%;
  }

  .category-menu img {
    width: 45px;
    height: 45px;
    float: left;
  }

  .actions {
    width: 60%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .top-nav-container {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }

  .logo {
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .menu-container,
  .nav-menu-right {
    width: 100%;
    justify-content: center;
    margin: 0;
  }

  .menu-nav-links,
  .nav-menu-right-items {
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
  }

  .search-form {
    width: 80%;
  }

  .featured-section {
    width: 60%;
    margin: 2rem 20%;
  }

  .home-featured-products-container {
    grid-template-columns: 1fr;
    padding: 4rem;
  }

  .category-products-container {
    grid-template-columns: 1fr;
    padding: 10rem;
  }

  .pagination-container {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }

  .pagination-container ul {
    width: 100%;
  }

  .cart-item-details-col {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9em;
  }

  .cart-actions form {
    font-size: 0.9em;
  }

  .cart-quantity-container {
    width: 10%;
    padding-top: 1rem;
  }

  .cart-price {
    text-align: center;
    width: 30%;
    font-size: 0.9em;
  }

  .subtotal-container,
  .tax-container,
  .total-container,
  .voucher-container,
  .voucher-remove-container,
  .new-subtotal-container {
    font-size: 1em;
  }

  h4 {
    font-size: 0.9em;
  }

  .total-container {
    font-size: 1em;
  }

  .cart-button-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .continue-shopping-button,
  .checkout-button {
    font-size: 1.1em;
    margin: 1rem 0;
  }
}

@media only screen and (max-width: 875px) {
  .cart-item-container {
    width: 100%;
    margin: 1.2rem 0;
  }

  .cart-total-row {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 800px) {
  .breadcrums {
    flex-direction: column;
    text-align: center;
  }

  .breadcrums-container {
    width: 100%;
  }

  .search-form {
    margin-top: 10px;
    width: 100%;
  }

  .product-image-container,
  .product-information-container {
    width: 100%;
    height: 50%;
    margin: 0;
    justify-content: center;
    padding: 1rem;
  }

  .product-main-image {
    width: 400px;
    height: 400px;
  }

  .product-images-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 10px;
    margin-top: 20px;
    width: 80%;
    margin: 20px 10% 0 10%;
  }
}

/* Small Devices */

@media only screen and (max-width: 768px) {
  .hero-container {
    background-size: contain;
    min-height: 800px;
  }

  .hero-heading h1 {
    font-size: 38px;
  }

  .featured-section {
    width: 80%;
    margin: 1rem 10%;
  }

  .home-featured-products-container {
    grid-template-columns: 1fr;
    padding: 6;
  }

  .category-product-heading {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }

  .category-product-heading-sub-container,
  .product-sort-container {
    width: 100%;
    margin: 1rem 0;
  }

  .product-sort-container {
    text-align: left;
  }

  .category-products-container {
    margin: 0;
  }

  .checkout-form-button {
    width: 70%;
  }

  .alert-message-container,
  .error-message {
    color: #ff0000;
    border: 3px solid #ff0000;
    border-radius: 20px;
    width: 70%;
    margin: 3rem 15%;
    text-align: left;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 620px) {
  .category-products-container {
    justify-content: center;
  }

  .actions {
    width: 40%;
  }

  .cart-price {
    width: 40%;
  }
}

/* Extra Small Devices */

@media only screen and (max-width: 500px) {
  .hero-heading h1 {
    font-size: 36px;
  }

  .featured-section {
    width: 100%;
    margin: 1rem 0;
  }

  .home-featured-products-container {
    grid-template-columns: 1fr;
    padding: 6;
  }

  .product-main-image {
    width: 300px;
    height: 300px;
  }
}

